<table>
  <colgroup>
    <col width="40%" />
    <col width="60%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th align="center" style="font-size:16px">Topics</th>
      <th align="center" style="font-size:16px">Readings</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left"><strong>Week 1 Jan 4</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 1 (Mon): Introduction <!--(<a href="lectures/Intro/intro.pdf">slides</a>)--></td>
      <td align="left">Review <a href="guides/electricity">electricity</a>, <a href="guides/numbers">binary and hexadecimal numbers and bitwire operations</a>, and the <a href="guides/unix">unix command line</a>.</td>
    </tr>
    <tr class="odd">
      <td align="left"><em>No Lab</em> (attend a 107 Unix help session!)</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 2 (Fri): Introduction to ARM <!--(<a href="lectures/ARM/arm.pdf">slides</a>) : Blinking an LED (<a href="lectures/ARM/code">code</a>)--></td>
      <td align="left">Start with Baking Pi (<a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/introduction.html">intro</a>, <a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/ok01.html">ok01</a>, <a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/ok02.html">ok02</a>) and then read about <a href="http://www.toves.org/books/arm/">ARM ASM</a>.</td>
    </tr>
    <tr class="odd">
      <td align="left"><strong>Week 2 Jan 11</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 3 (Mon): ARM Assembly and Machine Code <!--(<a href="lectures/ASM/asm.pdf">slides</a>)--></td>
      <td align="left">Read sections 4.1-4.5 from the <a href="readings/armisa.pdf">ARM ISA</a></td>
    </tr>
    <tr class="odd">
      <td align="left">Lab 1 : Setup the Raspberry Pi</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Assignment 1 : Larson scanner</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 4 (Fri): Baremetal programming in C <!--(<a href="lectures/C/c.pdf">slides</a>), (<a href="lectures/C/code">code</a>)--></td>
      <td align="left">Brush up on C syntax, data types, operators, control structure, function calls. EssentialC chapters 1, 2, and 4; or K&amp;R 1, 2, 3, 4 and 5.1-5.4. Skip sections involving characters, strings, io, and standard libraries. Read the about the <a href="http://cm.bell-labs.com/who/dmr/chist.html">history of C</a></td>
    </tr>
    <tr class="even">
      <td align="left"><strong>Week 3 Jan 18</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left"><em>Martin Luther King Holiday - No Class</em></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lab 2 : Baremetal programming in C</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Assignment 2 : Clock</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 5 (Fri): Functions <!--(<a href="lectures/Functions/functions.pdf">slides</a>, <a href="lectures/Functions/code">code</a>)--></td>
      <td align="left">Read (or read again) about functions in C (Chapter 4 in K&amp;R, Section 4 in Essential C), Read this nice explanation of <a href="http://thinkingeek.com/2014/05/11/arm-assembler-raspberry-pi-chapter-18/">local data and frame pointers</a></td>
    </tr>
    <tr class="odd">
      <td align="left"><strong>Week 4 Jan 25</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 6 (Mon): Serial communication, ASCII and strings <!--(<a href="lectures/Serial/serial.pdf">slides</a>, <a href="lectures/Serial/code">code</a>)--></td>
      <td align="left">Read about characters and strings, basic IO (getc, putc, puts, printf), and structures (Section 1.5, 1.6, 1.9, 5.5, 6, 7 in K&amp;R; Section 3 in EssentialC). Read about <a href="https://learn.sparkfun.com/tutorials/serial-communication/all">Serial Communication</a>.</td>
    </tr>
    <tr class="odd">
      <td align="left">Lab 3 : Below C Level</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Assignment 3 : String formatting and printing</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 7 (Fri): Linking, loading and starting <!--(<a href="lectures/LD/ld.pdf">slides</a>, <a href="lectures/LD/code">code</a>)--></td>
      <td align="left">Read David Welch's articles on <a href="https://github.com/dwelch67/raspberrypi/tree/master/baremetal">baremetal programming</a> and <a href="https://github.com/dwelch67/raspberrypi/tree/master/bssdata">bss data</a>.</td>
    </tr>
    <tr class="even">
      <td align="left"><strong>Week 5 Feb 1</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 8 (Mon): Memory allocation and Valgrind</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lab 4 : Understanding linking and loading</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Assignment 4 </td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 9 (Fri): Graphics and the framebuffer</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left"><strong>Week 6 Feb 8</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 10 (Mon): Performance tuning</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lab 5: Setting up the framebuffer</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Assignment 5: Displaying text</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 11 (Fri): PS2 Keyboards</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left"><strong>Week 7 Feb 15</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left"><em>President's Day - Computer History Musueum Tour</em></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lab 6: PS2 keyboard hack</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Assignment 6: Keyboard to console</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 12 (Fri): Interrupts</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left"><strong>Week 8 Feb 21</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 13 (Mon): Interrupts, cont.</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lab 7: Handling Interrupts</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Assignment 7: Full console</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">(Fri): Guest Lecture: Quinn Dunki - Veronica</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left"><strong>Week 9 Feb 29</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 14 (Mon): Sound and MIDI</td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 15 (Fri): Signed and unsigned arithmetic</td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left"><strong>Week 10 Mar 7</strong></td>
      <td align="left"></td>
    </tr>
    <tr class="even">
      <td align="left">Lecture 16 (Mon) </td>
      <td align="left"></td>
    </tr>
    <tr class="odd">
      <td align="left">Lecture 17 (Fri): To Linux and Beyond</td>
      <td align="left"></td>
    </tr>
  </tbody>
</table>
