<table>
  <colgroup>
    <col width="40%" />
    <col width="60%" />
  </colgroup>
  <thead>
    <tr>
      <th align="center" style="font-size:16px">Topics</th>
      <th align="center" style="font-size:16px">Readings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Week 1 Jan 4</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 1 (Mon): Introduction (<a href="lectures/intro/intro.pdf">slides</a>)</td>
      <td>Review <a href="guides/electricity">electricity</a>, <a href="guides/numbers">binary and hexadecimal numbers and bitwire operations</a>, and the <a href="guides/unix">unix command line</a>.</td>
    </tr>
    <tr>
      <td><em>No Lab</em> (attend a 107 Unix help session!)</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/assignments/assign0">Assignment 0: Choose a lab section and learn Git</a></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 2 (Fri): Introduction to ARM (<a href="lectures/arm/arm.pdf">slides</a>) : Turning on an LED (<a href="https://github.com/cs107e/cs107e.github.io/tree/master/lectures/arm/code">code</a>)</td>
      <td>Start with Baking Pi (<a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/introduction.html">intro</a>, <a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/ok01.html">ok01</a>, <a href="http://www.cl.cam.ac.uk/projects/raspberrypi/tutorials/os/ok02.html">ok02</a>) and then read about <a href="http://www.toves.org/books/arm/">ARM ASM</a>.
Read <a href="/readings/holywars.pdf">Holy Wars and a Plea for Peace</a>.
      </td>
    </tr>
    <tr>
      <td><strong>Week 2 Jan 11</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 3 (Mon): ARM Assembly and Machine Code (<a href="lectures/asm/asm.pdf">slides</a>, <a href="https://github.com/cs107e/cs107e.github.io/tree/master/lectures/asm/code/blink">code</a>)</td>
      <td>Read sections 4.1-4.5 from the <a href="readings/armisa.pdf">ARM ISA</a></td>
    </tr>
    <tr>
      <td><a href="/labs/lab1/">Lab 1: Setup the Raspberry Pi</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/assignments/assign1/">Assignment 1: Larson scanner</a></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 4 (Fri): Baremetal programming in C (<a href="lectures/C/C.pdf">slides</a>, <a href="https://github.com/cs107e/cs107e.github.io/tree/master/lectures/C/code/gauss">code</a>)</td>
      <td>Brush up on C syntax, data types, operators, control structure, function calls. EssentialC chapters 1, 2, and 4; or K&amp;R 1, 2, 3, 4 and 5.1-5.4. Skip sections involving characters, strings, io, and standard libraries. Read the about the <a href="http://cm.bell-labs.com/who/dmr/chist.html">history of C</a></td>
    </tr>
    <tr>
      <td><strong>Week 3 Jan 18</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><em>Martin Luther King Holiday - No Class</em></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/labs/lab2/">Lab 2: Below C level</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="/assignments/assign2/">Assignment 2: Clock</a></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 5 (Fri): Functions (<a href="lectures/function/function.pdf">slides</a>, <a href="https://github.com/cs107e/cs107e.github.io/tree/master/lectures/function/code/examples">code</a>)</td>
      <td>Read (or read again) about functions in C (Chapter 4 in K&amp;R, Section 4 in Essential C), Read this nice explanation of <a href="http://thinkingeek.com/2014/05/11/arm-assembler-raspberry-pi-chapter-18/">local data and frame pointers</a></td>
    </tr>
    <tr>
      <td><strong>Week 4 Jan 25</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 6 (Mon): Serial communication, ASCII and strings <!--(<a href="lectures/Serial/serial.pdf">slides</a>, <a href="lectures/Serial/code">code</a>)--></td>
      <td>Read about characters and strings, basic IO (getc, putc, puts, printf), and structures (Section 1.5, 1.6, 1.9, 5.5, 6, 7 in K&amp;R; Section 3 in EssentialC). Read about <a href="https://learn.sparkfun.com/tutorials/serial-communication/all">Serial Communication</a>.</td>
    </tr>
    <tr>
      <td>Lab 3 : Debugging and Serial communication </td>
      <td></td>
    </tr>
    <tr>
      <td>Assignment 3 : String formatting and printing</td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 7 (Fri): Linking, loading and starting <!--(<a href="lectures/LD/ld.pdf">slides</a>, <a href="lectures/LD/code">code</a>)--></td>
      <td>Read David Welch's articles on <a href="https://github.com/dwelch67/raspberrypi/tree/master/baremetal">baremetal programming</a> and <a href="https://github.com/dwelch67/raspberrypi/tree/master/bssdata">bss data</a>.</td>
    </tr>
    <tr>
      <td><strong>Week 5 Feb 1</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 8 (Mon): Memory allocation and Valgrind</td>
      <td></td>
    </tr>
    <tr>
      <td>Lab 4 : Understanding linking and loading</td>
      <td></td>
    </tr>
    <tr>
      <td>Assignment 4 </td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 9 (Fri): Graphics and the framebuffer</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Week 6 Feb 8</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 10 (Mon): Performance tuning</td>
      <td></td>
    </tr>
    <tr>
      <td>Lab 5: Setting up the framebuffer</td>
      <td></td>
    </tr>
    <tr>
      <td>Assignment 5: Displaying text</td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 11 (Fri): PS2 Keyboards</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Week 7 Feb 15</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><em>President's Day - Computer History Musueum Tour</em></td>
      <td></td>
    </tr>
    <tr>
      <td>Lab 6: PS2 keyboard hack</td>
      <td></td>
    </tr>
    <tr>
      <td>Assignment 6: Keyboard to console</td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 12 (Fri): Interrupts</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Week 8 Feb 21</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 13 (Mon): Interrupts, cont.</td>
      <td></td>
    </tr>
    <tr>
      <td>Lab 7: Handling Interrupts</td>
      <td></td>
    </tr>
    <tr>
      <td>Assignment 7: Full console</td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 14 (Fri): Signed and unsigned arithmetic</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Week 9 Feb 29</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 15 (Mon): </td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 16 (Fri): </td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Week 10 Mar 7</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 16 (Mon) Guest Lecture: Quinn Dunki - Veronica </td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 17 (Fri): To Linux and Beyond</td>
      <td></td>
    </tr>
  </tbody>
</table>
