/* JDZ Dec 2020
 * piggyback callout on top of blockquote in markdown
 * add class .callout-cls (where cls is from bootstrap
 * color themes, success, danger, etc)
 */

$callouts: (
    "success": var(--icon-thumbsup),
    "warning": var(--icon-warning),
    "danger": var(--icon-ban),
    "info": var(--icon-info),
    "primary": var(--icon-comment),
);

@each $cls,$icon in $callouts {
  .callout-#{$cls} {
    @extend .alert;
    @extend .alert-#{$cls} !optional;

    &.callout-invert {
      @extend .bg-#{$cls} !optional;
      color: white !important;
    }
    & p strong:first-child {
      display: block; /* use first bold span as title, set on own line */
    }
    & p strong:first-child:before {
      font-family: "icomoon"; /* add icon if title */
      content: $icon;
      margin-right: 4px;
    }
    & p {
      margin-bottom: 0;
    }
  }
  .callout-#{$cls}-invert {
    @extend .callout-#{$cls}, .callout-invert !optional;
  }
}

.callout-question {
  @extend .callout-primary;
  & p strong:first-child:before {
    content: var(--icon-question);
  }

}

blockquote {
 /* @extend .callout-primary;*/
}