---
---

@import "normalize";
@import "foundation";

pre {
  code {
    background: none;
    border: none;
    padding: 0;
  }
}

code {
  display: inline-block;
}

pre {
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #eee;
  padding: 10px 15px;
  margin-bottom: 1.5em;
  margin-top: -0.5em;
}
